<div class="details">
    @if (loadingCollection()) {
        <div class="details__spinner">
            <app-spinner
                [text]="'Loading collection data...'"
                accentColor="var(--accent-color)"
                [isOverlay]="false"
            ></app-spinner>
        </div>
    } @else if (!loadingCollection() && !fullCollection()) {
        <div class="details__empty">
            <app-svg-icon
                icon="folder"
                class="details__empty-icon"
                size="3.125rem"
            />
            <p class="details__empty-text">Select a collection to view files</p>
        </div>
    } @else {
        <app-collection-basics
            [collection]="fullCollection()!"
            (viewDetailsClick)="openDetails($event)"
            (deleteClick)="onCollectionDelete()"
        />

        <app-drag-drop-area
            (filesDropped)="onFilesDropped($event)"
            [allowedTypes]="FILE_TYPES"
            [permissionResource]="ResourceCode.KnowledgeSources"
            class="details__main-wrapper"
        >
            <div class="details__main-content">
                <!-- RAGS -->
                <div class="details__section">
                    <div class="details__section-header">
                        <span class="details__section-title">RAG Types</span>

                        <div class="details__section-actions">
                            <!--Creating RAG requires both Create and Update permissions-->
                            <ng-container *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Create]">
                                <app-svg-icon
                                    *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Update]"
                                    icon="plus"
                                    class="details__action details__action--medium"
                                    size="1rem"
                                    matTooltip="Create or update RAG"
                                    matTooltipPosition="above"
                                    (click)="openCreateCollectionModal()"
                                />
                            </ng-container>
                        </div>
                    </div>

                    @if (fullCollection()) {
                        <app-collection-details-rags [collection]="fullCollection()!" />
                    }
                </div>

                <!-- files -->
                @if (loadingDocuments()) {
                    <app-spinner
                        [text]="'Loading collection documents...'"
                        accentColor="var(--accent-color)"
                        [isOverlay]="false"
                    ></app-spinner>
                } @else {
                    <div class="details__section details__section-files">
                        <div class="details__section-header">
                            <span class="details__section-title">Collection Files</span>

                            <div class="details__section-actions">
                                <app-select
                                    class="details__file-type-filter"
                                    mod="small"
                                    placeholder="Filter by type"
                                    [items]="fileTypeItems()"
                                    [selectedValue]="activeFileType()"
                                    (changed)="onFileTypeChange($event)"
                                />
                                <app-svg-icon
                                    *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Export]"
                                    icon="download"
                                    class="details__action details__action--medium"
                                    size="0.875rem"
                                    matTooltip="Download all files"
                                    matTooltipPosition="above"
                                    (click)="downloadAllFiles()"
                                />
                                <app-svg-icon
                                    *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Create]"
                                    icon="files-filled"
                                    class="details__action details__action--medium"
                                    size="0.75rem"
                                    matTooltip="Copy files to other collection"
                                    matTooltipPosition="above"
                                    (click)="openCopyFilesDialog()"
                                />

                                <label
                                    *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Create]"
                                    matTooltip="Add file"
                                    matTooltipPosition="above"
                                    (click)="fileInput.click()"
                                >
                                    <app-svg-icon
                                        icon="plus"
                                        class="details__action details__action--medium"
                                        size="1rem"
                                    />
                                </label>
                                <input
                                    #fileInput
                                    type="file"
                                    multiple
                                    style="display: none"
                                    (change)="onFileSelect($event)"
                                />
                            </div>
                        </div>
                        <div class="details__files-wrap">
                            <app-collection-details-files
                                [(documents)]="documents"
                                [fileTypeFilter]="activeFileType()"
                                (downloadRequested)="onFileDownload($event)"
                                (previewRequested)="onFilePreview($event)"
                            />
                        </div>
                    </div>
                }
            </div>
        </app-drag-drop-area>
    }
</div>
