:host {
    width: 100%;
}

.validation-errors {
    margin: 0.5rem 0;
    row-gap: 0.5rem;
    &__item {
        display: block;
        font-size: var(--font-size-xs);
        border-radius: var(--radius-md);
        border-left: 3px solid var(--color-status-failed);
        background-color: var(--red-600-alpha-6);
        color: var(--color-status-failed);
        padding: 0.25rem 0.5rem;
    }
}
