<div class="collections-sidebar">
    <div class="collections-sidebar__header">
        <span class="collections-sidebar__header-label"
            >Collections
            <span class="collections-sidebar__header-count">
                {{ collections().length }}
            </span>
        </span>

        <app-button
            *appHasPermission="[ResourceCode.KnowledgeSources, ActionCode.Create]"
            [type]="collections().length ? 'primary' : 'outline-primary'"
            [leftIcon]="'plus'"
            (click)="onCreateCollection.emit()"
        >
            Add
        </app-button>
    </div>

    @if (!collections().length) {
        <p class="collections-sidebar__empty">No collections yet</p>
    } @else {
        <app-select
            class="rag-select"
            [placeholder]="'Rag type'"
            [items]="ragTypeItems"
            [(selectedValue)]="selectedRagType"
        />
        <div class="collections-sidebar__items">
            @for (collection of filteredCollections(); track collection.collection_id) {
                <app-collection
                    class="collections-sidebar__item"
                    [collection]="collection"
                    [selected]="selectedCollectionId() === collection.collection_id"
                    (click)="selectCollection(collection.collection_id)"
                />
            }
        </div>
    }
</div>
