<div class="collections-sidebar">
    @if (!collections().length) {
        <p class="collections-sidebar__empty">No collections yet</p>

        <app-button
            type="outline-primary"
            (click)="onCreateCollection.emit()"
        >
            + Create Collection
        </app-button>
    } @else {
        <app-select
            [placeholder]="'Rag type'"
            [items]="ragTypeItems"
            [(selectedValue)]="selectedRagType"
        />
        <div class="collections-sidebar__items">
            @for (collection of filteredCollections(); track collection.collection_id) {
                <app-collection
                    class="collections-sidebar__item"
                    [collection]="collection"
                    [selected]="selectedCollectionId() === collection.collection_id"
                    (click)="selectCollection(collection.collection_id)"
                />
            }
        </div>
    }
</div>
