<div class="secrets-field">
    <div class="label-container">
        <label>Secrets</label>
        <app-help-tooltip
            size="18px"
            [text]="tooltipText()"
        />
    </div>
    <button
        #trigger
        type="button"
        class="secrets-trigger"
        [style.--active-color]="activeColor()"
        [disabled]="readForbidden()"
        [title]="readForbidden() ? 'Your role cannot read secrets' : ''"
        (click)="openDropdown()"
    >
        <span
            class="secrets-trigger__text"
            [class.secrets-trigger__text--placeholder]="!value().length"
            >{{ triggerLabel() }}</span
        >
        <app-svg-icon
            class="secrets-trigger__chevron"
            [class.secrets-trigger__chevron--open]="multiSelectRef()?.isOpen()"
            icon="chevron-down"
            size="1rem"
        />
    </button>
    <app-multi-select
        #multiSelect
        [hideTrigger]="true"
        [items]="secretItems()"
        [selectedValues]="value()"
        [showClearFilter]="true"
        checkboxPosition="left"
        saveLabel="Save"
        searchPlaceholder="Search a secret..."
        [panelWidth]="panelWidth()"
        (selectionChange)="onSelectionChange($event)"
    />
</div>
