@use '../tab-shared' as shared;

@include shared.tab-base;

.org-cell {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    min-width: 0;
}

.org-name {
    font-size: var(--font-size-md);
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-role {
    font-size: var(--font-size-2xs);
    color: var(--color-text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
