.context-menu {
    width: 300px;
    min-width: 300px;
    background: var(--graphite-950);

    box-shadow: 0 4px 8px var(--black-alpha-30);
    z-index: 1000;

    border-radius: 15px;
    color: hsl(0, 0%, 94%);
    height: auto;

    .search-container {
        display: flex;
        align-items: center;
        background: var(--graphite-875); /* Darker background */
        margin: var(--space-lg);
        padding: var(--space-md) var(--space-md); /* Smaller padding for compact size */
        border-radius: var(--radius-md); /* Slightly rounded corners */
        border: 1px solid var(--graphite-640); /* Thin, subtle border */

        max-height: 40px; /* Reduce height */
        margin-bottom: var(--space-sm);
        &:focus-within {
            border-color: var(--gray-600); /* Softer focus effect */
        }

        i {
            font-size: var(--font-size-md); /* Make the icon smaller */
            color: var(--gray-500); /* Soft color */
            margin-right: var(--space-xs);
        }

        input {
            flex: 1;
            background: transparent;
            border: none;
            color: var(--gray-100);
            font-size: var(--font-size-sm); /* Slightly smaller text */
            outline: none;
            padding: var(--space-3xs);
            line-height: 1; /* Align text properly */

            &::placeholder {
                color: var(--gray-600);
                font-size: var(--font-size-sm);
            }
        }
    }

    .menu-header {
        display: flex;
        justify-content: flex-start; /* Keep buttons aligned */
        padding: 0px var(--space-lg);
        margin-bottom: var(--space-sm);

        button {
            background: transparent;
            border: none;
            color: var(--gray-400);
            font-size: var(--font-size-md);
            padding: var(--space-sm);
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition:
                border-bottom 0.2s,
                color 0.2s;
            min-width: 70px; /* Prevent buttons from resizing */
            text-align: center;

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                border-bottom: 2px solid var(--white);
            }
        }
    }

    .menu-content {
        overflow-y: auto;
        font-size: var(--font-size-md);
        padding-bottom: var(--space-lg);
        height: auto;
        max-height: 420px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: var(--space-sm) 0;
                border-bottom: 1px solid var(--graphite-640);
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    background: var(--graphite-780);
                }
            }
        }
    }
}
