<app-audit-operator-select
    [operators]="FLOW_OPERATORS"
    [selectedOperator]="filter().op"
    (selectedOperatorChange)="onOperatorChange($event)"
/>

<div class="flow-filter__search">
    <app-svg-icon
        class="flow-filter__search-icon"
        icon="search"
        size="14px"
    />
    <input
        type="text"
        placeholder="Search value"
        [value]="searchText()"
        (input)="onSearchChange($event)"
    />
</div>

<app-audit-checkbox-enum
    [options]="visibleOptions()"
    [value]="filter().values"
    (valueChange)="onValuesChange($event)"
/>
