<div class="dialog">
    <div class="header">
        <span class="title">{{ isEditMode ? 'Edit Organization' : 'Create New Organization' }}</span>

        <div class="actions">
            <app-button
                type="outline-primary"
                (click)="onCancel()"
            >
                Cancel
            </app-button>

            <app-button
                type="primary"
                (click)="onSubmit()"
                [disabled]="submitDisabled()"
            >
                {{ isEditMode ? 'Save' : 'Create' }}
            </app-button>
        </div>
    </div>

    <div class="subheader">
        <div class="control">
            <label class="label">Organization Name <span class="required">*</span></label>

            <app-custom-input
                placeholder="Enter organization name"
                [formControl]="orgNameControl"
            />
        </div>

        <app-validation-errors [control]="orgNameControl" />
    </div>

    <app-org-members-editor
        [organizationId]="organizationId"
        [isEditMode]="isEditMode"
    />
</div>
