:host {
    width: 100%;
}

.chips {
    position: relative;
    border: 1px solid var(--color-divider-subtle);
    border-radius: var(--radius-lg);
    padding: var(--space-sm);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);

    input {
        flex: 1 1 auto;
        border: none;
        outline: none;
        background: transparent;
        min-width: 100px;
        padding: var(--space-2xs) var(--space-sm);
        color: var(--color-text-primary);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xs);
    }

    &__item {
        border: 1px solid var(--color-input-border);
        background: var(--color-line);
        color: var(--color-text-primary);
        border-radius: var(--radius-sm);
        padding: var(--space-2xs) var(--space-sm);
        display: flex;
        align-items: center;
        column-gap: var(--space-sm);
    }

    &__item-remove {
        background: transparent;
        border: none;
        color: var(--color-text-primary);
        cursor: pointer;
    }

    &__autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 150px;
        overflow-y: auto;
        border-radius: var(--radius-lg);
        margin-top: var(--space-2xs);
        z-index: 1005;
        list-style: none;
        padding: 0;
        background: var(--color-input-background);
        border: 1px solid var(--color-divider-subtle);

        li {
            padding: var(--space-sm) var(--space-lg);
            cursor: pointer;
            border-bottom: 1px solid var(--color-divider-subtle);

            &.highlighted {
                background: var(--color-backdrop);
            }
        }
    }
}
