.custom-menu {
    position: fixed;
    background: #1e1e1f;
    border: 1px solid #333741;
    border-radius: var(--radius-lg);
    box-shadow: 0 4px 12px var(--black-alpha-15);
    padding: 0.25rem 0;
    z-index: 1000;
    padding: 8px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 15px;
            cursor: pointer;
            transition:
                background 0.15s ease,
                color 0.2s ease;
            color: #e1e4e9;
            font-size: var(--font-size-md);
            border-radius: var(--radius-sm);

            &.divider {
                height: 1px;
                background-color: #333741;
                margin: 8px 0;
                padding: 0;
                cursor: default;
                pointer-events: none;
            }

            &:not(.divider):hover {
                background: #292a2f;
                color: var(--white);

                i.icon {
                    color: var(--white);
                }
            }

            &.delete-option:hover {
                background: #542326;
                color: #ff8383;

                i.icon {
                    color: #ff7a7a;
                }
            }

            i.icon {
                margin-right: 0.5rem;
            }
        }
    }
}
