@if (label()) {
    <app-tooltip
        [required]="required()"
        [tooltipText]="tooltipText()"
        [label]="label()"
        [icon]="icon()"
    />
}

<label
    class="switch"
    [class.switch--disabled]="disabled"
>
    <input
        type="checkbox"
        [attr.aria-label]="ariaLabel() || label() || 'Toggle'"
        [checked]="checked"
        [disabled]="disabled"
        (click)="$event.preventDefault(); !disabled && onToggle()"
    />
    <span class="slider"></span>
</label>
