.file-preview {
    height: 100%;

    &--empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: var(--space-lg);
        font-size: var(--font-size-xl);
        color: var(--fog-alpha-80);
    }
}
