<div class="panel-header">
    <div class="header-naming-container">
        <div class="icon">
            <app-svg-icon
                icon="heartbeat"
                size="20px"
            />
        </div>
        <p class="text">Session execution</p>
    </div>

    @if (canStopSelectedSession) {
        <app-stop-session-button (stopClick)="onStopSession()" />
    }

    <app-session-id-switcher
        [sessions]="sessions"
        [selectedSessionId]="selectedSessionId"
        (sessionSelected)="onSessionChange($event)"
    />

    <button
        [disabled]="!selectedSessionId"
        (click)="openSessionPage()"
        matTooltip="Open full session page"
        class="btn-go-to-arrow"
    >
        <div>
            <app-svg-icon
                icon="arrow-up"
                size="15px"
                class="arrow-up-custom"
            />
        </div>
    </button>

    <button
        (click)="close.emit()"
        matTooltip="Close"
        class="btn-switch-session"
    >
        <div>
            <app-svg-icon
                icon="x"
                size="20px"
            />
        </div>
    </button>
</div>

<div class="panel-body">
    @if (selectedSessionId && graphId && sessionsLoaded) {
        <app-graph-messages
            [graphId]="graphId"
            [sessionId]="selectedSessionId"
            (sessionStatusChanged)="onSessionStatusChanged($event)"
            class="graph-messages-list"
        ></app-graph-messages>
    } @else if (sessionsLoaded && sessions.length === 0) {
        <div class="panel-body__empty">
            Click
            <span class="panel-body__run-badge">
                <app-svg-icon
                    icon="player-play-filled"
                    size="0.875rem"
                />
                Run
            </span>
            button to see session messages
        </div>
    }
</div>
