<div class="panel-container">
    <div class="panel-content">
        <form
            [formGroup]="form"
            class="form-container"
        >
            <div class="node-name-field">
                <app-custom-input
                    label="Node Name"
                    tooltipText="The unique identifier used to reference this subgraph node. This name must be unique within the flow."
                    formControlName="node_name"
                    placeholder="Enter node name"
                    [activeColor]="activeColor"
                ></app-custom-input>
                <app-validation-errors [control]="form.get('node_name')!" />
            </div>

            <div class="input-map">
                <app-input-map [activeColor]="activeColor"></app-input-map>
            </div>

            <app-custom-input
                label="Output Variable Path"
                tooltipText="The path where the output of this node will be stored in your flow variables. Leave empty if you don't need to store the output."
                formControlName="output_variable_path"
                placeholder="Enter output variable path (leave empty for null)"
                [activeColor]="activeColor"
            ></app-custom-input>

            <div class="field">
                <label>
                    Selected Flow
                    <app-help-tooltip
                        text="Select the flow that this node will execute"
                        size="1rem"
                    />
                </label>
                <div class="selected-flow-row">
                    <app-select
                        class="select-field"
                        formControlName="selectedFlowId"
                        placeholder="Select a flow"
                        [items]="flowItems()"
                    />
                    <app-go-to-button
                        variant="full"
                        label="Go to flow"
                        [href]="getSelectedFlowUrl()"
                        target="_blank"
                        [disabled]="!selectedFlowExists()"
                    ></app-go-to-button>
                </div>
            </div>
        </form>
    </div>
</div>
