.slider-container {
    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: var(--white-alpha-70);
    }

    input[type='range'] {
        width: 100%;
        background-color: var(--gray-700);
        height: 6px;
        border-radius: 3px;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--accent-color);
            cursor: pointer;
            box-shadow: 0 1px 3px var(--black-alpha-30);
        }

        &::-moz-range-thumb {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--accent-color);
            cursor: pointer;
            box-shadow: 0 1px 3px var(--black-alpha-30);
            border: none;
        }
    }
}
