.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: var(--space-3xl) 0 0 var(--space-4xl);

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--space-lg);
        width: 100%;
        padding-right: var(--space-3xl);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-light);
        min-width: 0;

        &--count {
            color: var(--accent-color);
        }
    }

    &__files-wrapper {
        overflow: auto;
        margin-right: var(--space-md);
        padding-bottom: var(--space-3xl);
    }

    &__file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--space-lg);
        cursor: pointer;
        font-size: var(--font-size-xs);

        &--selected {
            background-color: var(--color-line);
        }
    }

    &__name-column {
        display: flex;
        column-gap: var(--space-sm);
        min-width: 0;
        flex: 1;
        align-items: center;
    }

    &__file-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-error {
        border-radius: var(--radius-md);
        background-color: var(--red-600-alpha-6);
        color: var(--color-status-failed);
        padding: var(--space-2xs) var(--space-sm);

        &--medium {
            font-size: var(--font-size-md);
        }

        &--small {
            font-size: var(--font-size-2xs);
        }
    }

    &__size-column {
        display: flex;
        column-gap: var(--space-lg);
        flex-shrink: 0;
    }

    &__file-size {
        color: var(--fog-alpha-80);
    }
}

.files__file-action {
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        background-color: var(--color-input-background);
    }
}

::ng-deep .list__title > app-button {
    flex: 0 1 auto;
    min-width: 0;
    max-width: 45%;
}
