@use '../../../styles/node-panel-mixins.scss' as mixins;

.panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.panel-content {
    @include mixins.panel-content;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.form-container {
    @include mixins.form-container;
    &--expanded {
        height: 100%;
    }
}

.form-layout {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-lg);
}

.form-container--expanded {
    .form-layout {
        flex-wrap: wrap;
        gap: var(--space-lg);
    }
    .form-data {
        overflow: auto;
        padding-right: 1rem;
        width: 550px;
    }
    .code-editor-section {
        height: 100%;
        min-height: 0;
    }
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.form-fields {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-lg);
}

.code-editor-section {
    font-size: var(--font-size-md);
    color: var(--white-alpha-70);
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-shrink: 0;

    .json-wrapper {
        margin-top: 0.75rem;
        flex-grow: 1;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xs);
        color: var(--fog-alpha-80);
        opacity: 0.7;
    }

    &__info-icon {
        font-size: var(--font-size-md);
        width: 14px;
        height: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        vertical-align: middle;
    }

    &__info-link {
        color: var(--accent-color);
        margin: 0 0.25rem;
    }
}

.webhook-section {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-md);

    &__label-container {
        display: flex;
        align-items: center;
        gap: var(--space-sm);

        label {
            display: block;
            font-size: var(--font-size-md);
            color: var(--white-alpha-70);
            margin: 0;
        }

        .help-icon {
            font-size: var(--font-size-xl);
            width: 18px;
            height: 18px;
            color: var(--accent-color);
            cursor: help;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.webhook-status {
    &__container {
        width: 100%;
        padding: 0.5rem 0.75rem;
        background-color: var(--color-input-background);
        border: 1px solid var(--white-alpha-10);
        border-radius: var(--radius-xl);
        color: white;
        font-size: var(--font-size-xs);
        display: flex;
        flex-direction: column;
        row-gap: var(--space-sm);
    }

    &__main {
        display: flex;
        align-items: center;
        column-gap: var(--space-sm);
    }

    &__icon {
        &--registering {
            animation: spin 2s linear infinite;
        }
        &--failed {
            color: var(--red-500);
        }
        &--success {
            color: var(--accent-color);
        }
    }
    &__error-message {
        font-size: var(--font-size-xs);
        color: var(--fog-alpha-40);
    }
}

.output-fields-section {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
}

.output-fields {
    &__label {
        color: var(--white-alpha-70);
        font-size: var(--font-size-md);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__count {
        padding: 0.2rem 0.5rem;
        border-radius: var(--radius-sm);
        background-color: #44464a4d;
        color: var(--fog-alpha-40);
    }

    &__container {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--color-input-background);
        border: 1px solid var(--white-alpha-10);
        border-radius: var(--radius-lg);
        color: white;
        font-size: var(--font-size-md);
        display: flex;
        flex-direction: column;
        row-gap: var(--space-lg);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-sm);
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-size: var(--font-size-xs);
        color: var(--white-alpha-70);
        row-gap: var(--space-2xs);
        border: 1px solid var(--white-alpha-10);
        background-color: #44464a4d;
        border-radius: var(--radius-sm);
        padding: 0.25rem 0.5rem;
    }

    &__item-tip {
        color: var(--fog-alpha-40);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
