:host {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.inputs-overlay {
    position: absolute;
    left: -18rem;
    top: 50%;
    transform: translateY(-50%);
    min-width: 120px;
    width: 18rem;
    background: var(--graphite-950);
    color: var(--color-text-tertiary);
    border-radius: 4px;
    padding: 8px 12px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid var(--graphite-900);
    max-height: 220px;
    overflow-y: auto;
    pointer-events: none;
    transition:
        background 0.2s ease,
        box-shadow 0.2s ease;
}

.inputs-title {
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--color-text-tertiary);
}

.inputs-list {
    width: 100%;
    font-size: 0.75rem;
}

.input-item {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 0.8125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-key {
    font-weight: 400;
    color: var(--color-text-tertiary);
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.equals-sign {
    color: var(--color-text-tertiary);
    margin: 0 2px;
}

.input-value {
    color: var(--color-text-tertiary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.output-overlay {
    width: 12rem;
    position: absolute;
    right: -12rem;
    top: 50%;
    transform: translateY(-50%);
    min-width: 100px;
    background: var(--graphite-950);
    color: var(--color-text-tertiary);
    border-radius: 4px;
    padding: 8px 12px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
    border: 1px solid var(--graphite-900);
    max-height: 220px;
    overflow-y: auto;
    transition:
        background 0.2s ease,
        box-shadow 0.2s ease;
}

.output-title {
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--fog-alpha-30);
    margin-bottom: 4px;
}

.output-label {
    font-size: 0.8125rem;
    font-weight: 400;
    color: var(--color-text-tertiary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

:host(.is-active) .inputs-overlay,
:host(.is-active) .output-overlay {
    background: var(--graphite-970);
    box-shadow:
        0px 0px 52px 0px var(--black-alpha-16),
        0px 0px 28px 0px var(--black-alpha-16),
        0px 0px 18px 0px var(--black-alpha-16);
}

:host(.is-active) .input-key,
:host(.is-active) .input-value,
:host(.is-active) .equals-sign,
:host(.is-active) .output-label {
    color: var(--color-text-primary);
}

:host(.is-active) .inputs-title,
:host(.is-active) .output-title {
    color: var(--color-text-tertiary);
}
