:host {
    overflow: hidden;
}

.files {
    height: 100%;
    &__file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-xs);
        column-gap: var(--space-lg);
    }

    &__name-column {
        display: flex;
        align-items: center;
        column-gap: var(--space-sm);
        min-width: 0;
        flex: 1;
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-error {
        border-radius: var(--radius-md);
        background-color: var(--red-600-alpha-6);
        color: var(--color-status-failed);
        padding: var(--space-2xs) var(--space-sm);
        font-size: var(--font-size-2xs);
    }

    &__size-column {
        display: flex;
        column-gap: var(--space-lg);
        flex-shrink: 0;
    }

    &__size {
        color: var(--color-text-primary);
    }

    &__error {
        border-radius: var(--radius-md);
        background-color: var(--red-600-alpha-6);
        color: var(--color-status-failed);
        padding: var(--space-2xs) var(--space-sm);

        &--medium {
            font-size: var(--font-size-md);
        }

        &--small {
            font-size: var(--font-size-2xs);
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: var(--space-sm);
    }

    &__file-action {
        color: var(--color-text-primary);
    }

    &__close-action {
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            transition: 0.3s;
            background-color: var(--color-input-background);
        }
    }
}
