:host {
    display: flex;
}

.default-llms-card {
    border: 1px solid var(--white-alpha-8);
    border-radius: var(--radius-2xl);
    padding: var(--space-lg);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--space-md);
    min-height: 176px;
    background: transparent;
    position: relative;
    overflow: hidden;

    &--active {
        border: 1px solid var(--accent-color);
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        color: var(--color-text-primary);
    }

    &__close-icon {
        cursor: pointer;
        padding: var(--space-2xs);
        border-radius: 50%;
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }

    &__title {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);
        color: var(--accent-color);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
    }

    &__select-wrapper {
        overflow: hidden;
        flex-grow: 1;
    }

    &__divider {
        height: 1px;
        background: var(--white-alpha-8);
    }

    &__add {
        height: 40px;
        aspect-ratio: 1;
        border-radius: var(--radius-md);
        border: none;
        background: var(--accent-color);
        color: var(--white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0;
        transition:
            transform 0.1s ease,
            background 0.2s ease;

        i {
            font-size: var(--font-size-xl);
            line-height: 1;
        }

        &:hover {
            background: #716bff;
        }

        &:active {
            transform: scale(0.96);
        }
    }

    &__description {
        margin: 0;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 1;
        color: var(--fog-alpha-60);
    }
}
