.dialog {
    &__form {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__form-label {
        display: flex;
        align-items: center;
        column-gap: var(--space-lg);
        font-size: var(--font-size-md);
        line-height: 130%;
    }

    &__form-label-icon {
        color: var(--accent-color);
    }

    &__form-input {
        flex-grow: 1;
        height: 2.5rem;
        padding: 0 var(--space-lg);
        border-radius: var(--radius-lg);
        border: 1px solid var(--color-input-border);
        background-color: var(--color-input-background);
        color: var(--color-text-primary);
        font-size: var(--font-size-md);
        transition: border-color 0.2s ease;

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: var(--color-input-text-placeholder);
        }
    }

    &__form-field {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--space-3xl);
        padding: var(--space-xl) var(--space-4xl);
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__content {
        flex-grow: 1;
        overflow: auto;
        min-height: 0;
    }

    &__file-uploader {
        padding: 0 var(--space-4xl);
    }

    &__content-title {
        padding: var(--space-xl) 0;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-light);

        &--count {
            color: var(--accent-color);
        }
    }

    &__files {
        display: flex;
        height: 100%;
        overflow: auto;
    }

    &__files-list {
        height: 100%;
        width: 645px;
        flex-shrink: 0;
        border-right: 1px solid var(--color-divider-subtle);
    }

    &__file-preview {
        flex: 1 1 auto;
        min-width: 500px;
    }

    &__footer {
        padding: var(--space-3xl) var(--space-4xl);
        border-top: 1px solid var(--color-divider-subtle);

        &--types {
            color: var(--accent-color);
        }
    }
}
