@if (password().length > 0) {
    <div class="strength-section">
        <div class="strength-bars">
            @for (bar of bars; track bar) {
                <div
                    class="strength-bar"
                    [style.background-color]="isBarFilled(bar) ? color : '#3a3a3a'"
                ></div>
            }
        </div>
        <span
            class="strength-label"
            [style.color]="color"
            >{{ label }}</span
        >
    </div>

    <div class="requirements">
        <div class="requirement">
            <app-svg-icon
                [icon]="hasMinLength ? 'circle-check' : 'circle'"
                size="18px"
            ></app-svg-icon>
            <span>8 characters minimum</span>
        </div>
        <div class="requirement">
            <app-svg-icon
                [icon]="hasNumber ? 'circle-check' : 'circle'"
                size="18px"
            ></app-svg-icon>
            <span>1 number</span>
        </div>
        <div class="requirement">
            <app-svg-icon
                [icon]="hasUppercase ? 'circle-check' : 'circle'"
                size="18px"
            ></app-svg-icon>
            <span>1 uppercase letter</span>
        </div>
        <div class="requirement">
            <app-svg-icon
                [icon]="hasSpecialChar ? 'circle-check' : 'circle'"
                size="18px"
            ></app-svg-icon>
            <span>1 special character</span>
        </div>
        <div class="requirement">
            <app-svg-icon
                [icon]="hasLowercase ? 'circle-check' : 'circle'"
                size="18px"
            ></app-svg-icon>
            <span>1 lowercase letter</span>
        </div>
    </div>
}
