:host {
    display: block;
    width: 100%;
    height: 100%;
}

.expression-renderer {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-md);
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
    color: var(--color-text-primary);
    width: 100%;
    height: 100%;

    ::ng-deep .variable {
        background-color: var(--purple-alpha-20);
        color: #a5a5ff;
        border-radius: var(--radius-sm);
        padding: 0 2px;
        margin: 0 -2px;
        display: inline;
    }

    ::ng-deep .keyword {
        color: #c586c0;
        font-weight: bold;
        text-transform: uppercase;
    }
}
