<div class="llm-list-container">
    <!-- Header -->
    <div class="header">
        <div class="list-header">
            <input
                #searchInput
                type="text"
                [ngModel]="searchTerm()"
                (ngModelChange)="searchTerm.set($event)"
                placeholder="Search models..."
            />
        </div>

        <div class="menu-header">
            <app-button
                type="primary"
                mod="small"
                iconSize="0.9rem"
                [leftIcon]="'plus'"
                (click)="onCreateLlmModel()"
            >
                Add LLM model
            </app-button>
        </div>
    </div>

    <!-- Body -->
    <div class="body">
        <div class="llm-list-wrapper">
            @if (loading()) {
                <div class="loading-spinner">
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            } @else {
                <ul class="llms-list">
                    @for (item of filteredLLMs(); track item.id) {
                        <app-llm-item
                            [item]="item"
                            [isSelected]="selectedLLMId() === item.id"
                            itemType="llm"
                            (itemSelected)="onSelectLLM($event)"
                        />
                    }

                    @if (filteredLLMs().length === 0) {
                        <li class="no-results">
                            <div class="empty-state">
                                <app-svg-icon
                                    icon="search-off"
                                    size="1.5rem"
                                />
                                <p>No matching LLM configurations found</p>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    <div class="footer">
        <app-button
            type="ghost"
            (click)="onCancel()"
        >
            Cancel
        </app-button>
        <app-button (click)="onSave()"> Save </app-button>
    </div>
</div>
