.wrapper {
    display: flex;
    flex-direction: column;

    .input {
        display: flex;
        column-gap: 0.5rem;

        .input-icon {
            height: 40px;
            width: 40px;
            align-self: center;
            border-radius: 50%;
            border: 1px solid var(--accent-color);
            background: transparent;
            color: var(--accent-color);
            cursor: pointer;

            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            &:hover {
                background: var(--purple-alpha-15);
            }
        }
    }

    .separator-toggle {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        margin-top: 0.5rem;
        cursor: pointer;
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary);
    }

    .chips {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        gap: 0.5rem;

        .chip {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            padding: 0.25rem 0.75rem;
            height: 40px;
            border-radius: var(--radius-md);
            border: 1px solid var(--white-alpha-10);
            background-color: var(--color-input-background);
            color: var(--color-text-primary);
            font-size: var(--font-size-md);

            .action {
                cursor: pointer;
            }
        }
    }
}
