:host {
    width: 100%;
}

/* Chrome, Edge, Safari */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.input {
    &__wrapper {
        position: relative;
        width: 100%;
        display: inline-flex;
        align-items: center;
        border-radius: var(--radius-lg);
        overflow: hidden;
        border: 1px solid var(--color-input-border);

        &--invalid {
            border-color: var(--color-status-failed);
        }
    }

    &__step {
        position: absolute;
        top: 0;
        height: 100%;
        aspect-ratio: 1;
        border: none;
        background: var(--color-line);
        color: var(--color-text-primary);
        cursor: pointer;
        font-size: var(--font-size-4xl);
        line-height: 100%;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:hover {
            background-color: var(--accent-color);
        }

        &--minus {
            left: 0;
        }

        &--plus {
            right: 0;
        }
    }
}

.input {
    width: 100%;
    border: none;
    background-color: var(--color-input-background);
    color: var(--color-text-primary);
    transition: border-color 0.2s ease;
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
    text-align: center;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        color: var(--color-input-text-placeholder);
    }

    &--mod-default {
        height: 40px;
        padding: 0 var(--space-4xl);
        font-size: var(--font-size-md);
    }

    &--mod-small {
        height: 28px;
        padding: var(--space-md) var(--space-sm);
        font-size: var(--font-size-2xs);
    }
}
