.dialog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-nodes-sidepanel-bg);
    border-radius: var(--radius-2xl);
    border: 1px solid var(--color-divider-subtle);

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-xl) var(--space-4xl);
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__header-title {
        font-size: var(--font-size-2xl);
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--space-lg);
    }

    &__actions-switcher {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--space-lg);
        font-size: var(--font-size-md);
        line-height: 130%;
        margin-right: var(--space-3xl);
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--accent-color);
        background: transparent;
        color: var(--accent-color);
        cursor: pointer;

        &:hover {
            border-color: var(--accent-color-hover);
            color: var(--accent-color-hover);
        }

        &--disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    &__content {
        flex-grow: 1;
        overflow: auto;
        min-height: 0;
        display: flex;
    }

    &__chunk-preview {
        border-right: 1px solid var(--color-divider-subtle);
        padding-left: var(--space-md);
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 500px;
    }

    &__chunk-preview-button {
        margin-left: auto;
        width: 85px;
    }

    &__document-config {
        width: 550px;
        flex-shrink: 0;
    }
}
