:host {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 0;

    &__meta {
        display: flex;
        flex-direction: column;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        row-gap: 1.875rem;
        border: 1px solid var(--color-divider-subtle);
        border-radius: var(--radius-xl);
    }

    &__meta-title {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 130%;
        color: var(--color-text-primary);
        margin-bottom: 0.25rem;
    }

    &__meta-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
    }

    &__meta-item {
        font-size: 0.75rem;
    }

    &__meta-label {
        color: var(--fog-alpha-80);
    }

    &__meta-value {
        color: var(--color-text-primary);
    }

    // issues
    &__issues {
    }

    &__issues-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1.25rem 0;
    }

    &__issues-title {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 130%;
        color: var(--color-text-primary);
    }

    &__issues-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    &__issue {
        padding: 0.5rem 1rem;
        font-size: 0.625rem;
        color: var(--color-text-primary);
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        border-radius: var(--radius-xl);
        background-color: var(--color-line);
    }

    &__issue-header {
        display: flex;
        justify-content: space-between;
    }

    &__issue-file {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__issue-type {
        padding: 0.25rem 0.5rem;
        border-radius: var(--radius-sm);
        color: var(--color-status-warning);
        background-color: var(--yellow-alpha-6);
    }
}
