@use '../../../../../styles/header-layout' as header;

:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.overview-page {
    @include header.headerLayout();
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.overview-header {
    flex-shrink: 0;

    .header {
        display: flex;
        align-items: center;
        padding: 28px 60px 16px 40px;

        .header-titles {
            .title {
                margin: 0;
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--color-text-primary);
            }

            .subtitle-inline {
                margin-left: 0.7rem;
                font-size: 1.1rem;
                font-weight: 400;
                color: var(--color-text-secondary);
            }
        }
    }
}

.overview-tabs {
    padding: 4px 60px 0 40px;
}

.overview-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 16px 60px 16px 40px;
}
