<app-drag-drop-area (filesDropped)="facade.onFilesDropped($event)">
    <div class="storage-page">
        @if (facade.isLoading()) {
            <div class="storage-page__loading">
                <app-spinner
                    [text]="'Loading storage...'"
                    [accentColor]="'#6562f5'"
                    [isOverlay]="false"
                ></app-spinner>
            </div>
        } @else {
            <div
                class="storage-page__sidebar"
                [class.storage-page__sidebar--hidden]="!showSidebar()"
            >
                <app-storage-tree
                    [items]="filteredTreeData()"
                    (fileSelected)="onFileSelect($event)"
                    (folderSelected)="onFolderSelect($event)"
                    (folderToggled)="facade.onFolderToggle($event)"
                    (contextAction)="facade.onContextAction($event)"
                    (closeSidebar)="toggleSidebar()"
                    (openCreateFolder)="onOpenCreateFolder($event)"
                    (selectionChange)="facade.selectedItems.set($event)"
                />
            </div>
            <div class="storage-page__content">
                <app-storage-preview
                    [item]="facade.selectedFile()"
                    [selectedItems]="facade.selectedItems()"
                    [showSidebar]="showSidebar()"
                    (toggleSidebar)="toggleSidebar()"
                    (contextAction)="onPreviewContextAction($event)"
                    (breadcrumbClick)="showSidebar.set(true); facade.expandAndSelectPath($event)"
                />
            </div>
        }
    </div>
</app-drag-drop-area>
