.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.875rem 1rem 0;
        width: 100%;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-light);

        .count {
            color: var(--accent-color);
        }

        .reinclude-btn {
            width: 133px;
        }
    }

    .files-wrapper {
        overflow: auto;
        margin-right: 0.7rem;
        padding-bottom: 2rem;
    }

    .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--space-lg);
        font-size: var(--font-size-xs);
    }

    .name-column {
        display: flex;
        column-gap: var(--space-sm);
        min-width: 0;
        flex: 1;
        align-items: center;
    }

    .file-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .size-column {
        display: flex;
        align-items: center;
        column-gap: var(--space-lg);
        flex-shrink: 0;

        .size {
            color: var(--fog-alpha-80);
            text-align: center;
        }
    }
}
