<div class="list">
    <div class="title">
        <span
            >Selected Files: <span class="count">({{ documents().length }})</span></span
        >

        <app-button
            class="reinclude-btn"
            type="outline-primary"
            mod="small"
            (click)="reIncludeFiles()"
        >
            Re-include Files
        </app-button>
    </div>

    <div class="files-wrapper">
        <ol class="rows">
            @for (item of documents(); track item.graph_rag_document_id; let i = $index; let odd = $odd) {
                <div
                    class="row-wrapper"
                    [class.row-wrapper--dark]="odd"
                >
                    @switch (item.status) {
                        @case ('indexed') {
                            <app-svg-icon
                                icon="check"
                                class="status-icon status-icon--completed"
                                size="0.75rem"
                            />
                        }
                        @case ('failed') {
                            <app-svg-icon
                                icon="close"
                                class="status-icon status-icon--failed"
                                size="0.75rem"
                            />
                        }
                    }
                    <li class="row">
                        <div class="name-column">
                            <app-checkbox
                                color="secondary"
                                [checked]="checkedDocIds().has(item.graph_rag_document_id)"
                                (changed)="toggleDoc.emit(item.graph_rag_document_id)"
                            />
                            <span class="file-index">{{ i + 1 }}</span>
                            <app-svg-icon
                                icon="document"
                                size="0.75rem"
                            />
                            <span class="file-name">{{ item.file_name }}</span>
                        </div>
                        <div class="size-column">
                            <span class="size">{{ item.file_size | fileSize }}</span>
                            <app-svg-icon
                                icon="close"
                                style="cursor: pointer"
                                class="file-action"
                                size="1rem"
                                (click)="onDelete(item.document_id)"
                            />
                        </div>
                    </li>
                </div>
            }
        </ol>
    </div>
</div>
