<div class="list">
    <div class="title">
        <span>
            @if (indexMode() === 'update_new') {
                Add Files to Config:
            } @else {
                Selected Files:
            }
            <span class="count">({{ checkedDocIds().size }})</span>
        </span>

        <app-button
            class="reinclude-btn"
            type="outline-primary"
            mod="small"
            (click)="onReIncludeFiles()"
        >
            Re-include Files
        </app-button>
    </div>

    <div class="files-wrapper">
        <ol class="rows">
            @for (item of documentsWithDisabled(); track item.graph_rag_document_id; let i = $index; let odd = $odd) {
                <div
                    class="row-wrapper"
                    [class.row-wrapper--dark]="odd"
                >
                    @if (isProcessing(item.graph_rag_document_id)) {
                        <div class="status-icon status-spinner"></div>
                    } @else {
                        @switch (item.status) {
                            @case ('indexed') {
                                <app-svg-icon
                                    icon="check"
                                    class="status-icon status-icon--completed"
                                    size="0.75rem"
                                />
                            }
                            @case ('failed') {
                                <app-svg-icon
                                    icon="close"
                                    class="status-icon status-icon--failed"
                                    size="0.75rem"
                                />
                            }
                        }
                    }
                    <li class="row">
                        <div class="name-column">
                            <app-checkbox
                                color="secondary"
                                [checked]="checkedDocIds().has(item.graph_rag_document_id)"
                                [disabled]="item.disabled"
                                (changed)="toggleDoc.emit(item.graph_rag_document_id)"
                            />
                            <span
                                class="file-index"
                                [class.dimmed]="item.disabled"
                                >{{ i + 1 }}</span
                            >
                            <app-svg-icon
                                icon="document"
                                size="0.75rem"
                                [class.dimmed]="item.disabled"
                            />
                            <span
                                class="file-name"
                                [class.dimmed]="item.disabled"
                                >{{ item.file_name }}</span
                            >
                        </div>
                        <div class="size-column">
                            <span
                                class="size"
                                [class.dimmed]="item.disabled"
                                >{{ item.file_size | fileSize }}</span
                            >
                            <app-svg-icon
                                icon="close"
                                class="file-action"
                                [class.file-action--disabled]="item.disabled"
                                size="1rem"
                                matTooltip="Remove file"
                                matTooltipPosition="above"
                                (click)="onDelete(item)"
                            />
                        </div>
                    </li>
                </div>
            }
        </ol>
    </div>
</div>
