@for (tab of visibleTabs(); track tab.routerLink) {
    <a
        [routerLink]="tab.routerLink"
        routerLinkActive="active"
        class="route-tab"
    >
        @if (tab.icon) {
            <app-svg-icon
                size="18px"
                [icon]="tab.icon"
            />
        } @else if (tab.iconClass) {
            <i
                [class]="'route-tab__icon-font ' + tab.iconClass"
                aria-hidden="true"
            ></i>
        }
        {{ tab.label }}
    </a>
}
