.dialog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-nodes-sidepanel-bg);
    border-radius: var(--radius-2xl);
    border: 1px solid var(--color-divider-subtle);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-xl) var(--space-4xl);
        flex-shrink: 0;
        border-bottom: 1px solid var(--color-divider-subtle);

        .title {
            font-size: var(--font-size-2xl);
        }

        .actions {
            display: flex;
            gap: var(--space-lg);
        }
    }

    .subheader {
        display: flex;
        flex-direction: column;
        padding: var(--space-xl) var(--space-4xl);
        border-bottom: 1px solid var(--color-divider-subtle);

        .control {
            display: flex;
            align-items: center;
            gap: var(--space-lg);
            padding-top: var(--space-lg);

            &:first-child {
                padding-top: 0;
            }

            .label {
                width: 80px;
                flex-shrink: 0;
                white-space: nowrap;
            }
        }

        .required {
            color: var(--accent-color);
        }
    }

    .content {
        flex: 1;
        min-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: var(--space-xl) var(--space-4xl);
    }
}
