.file-uploader {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__label {
        text-align: center;
        font-size: var(--font-size-xl);
        padding: var(--space-4xl) 0;
    }

    &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 var(--space-4xl) var(--space-4xl);
        border-radius: var(--radius-3xl);
        border: 1px dashed var(--color-input-border);

        &--active {
            background-color: var(--color-drag-drop-active);
        }
    }

    &__hint {
        text-align: center;
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;
        width: 160px;
        border-radius: var(--radius-xl);
        border: 2px dashed var(--color-input-border);
        background-color: var(--color-divider-subtle);
        cursor: pointer;
        color: var(--accent-color);

        &:hover {
            background-color: var(--color-drag-drop-active);
        }
    }
}

:host(.mod-sm) {
    .file-uploader {
        &__label {
            margin-top: var(--space-lg);
            font-size: var(--font-size-md);
            padding: var(--space-lg) 0;
        }

        &__button {
            height: 80px;
            width: 80px;
        }
    }
}
